body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224, 240, 245)
}


/* Header and Nav */
.top {
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.yehudah {
    color: white;
}


.header-links {
    display: flex;
    align-items: center;
    gap: 20px;
    display: flex;
    font-weight: bold;
    font-size: larger;
}

.link-style {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.link-style:hover {
    color: black;
    text-decoration: underline;
}
/* Header and Nav End */

/* Image under header and subtitle */
.wire-image {
    width: 100%;
  }
  
  .top-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  figure {
    margin: 0;
  }

  .wire-image {
    position: relative;
  }
  
  .top-image {
    display: block;
  }
  
  figcaption {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: darkgray;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: bold;
  }

  .caption {
    color: black;
  }
/* Image under header and subtitle End */


/* Main section, right side of page */

  /* About me */
.about-me-section {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-top: 10px;
}

.about-me {
    text-align: end;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;
}

.about-me-paragraph {

}

h2 {
    border-right: solid black 3px;
    height: 55px;
    padding: 5px;
}

p {
    text-align: justify;
    padding: 20px;
    font-size: 20px;
    width: 80%;
}
