body {
    font-family: Arial, Helvetica, sans-serif;
}


/* Header and Nav */
.top {
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.yehudah {
    color: white;
}


.header-links {
    display: flex;
    align-items: center;
    gap: 20px;
    display: flex;
    font-weight: bold;
    font-size: larger;
}

.link-style {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.link-style:hover {
    color: black;
    text-decoration: underline;
}
/* Header and Nav End */

/* Image under header and subtitle */

  /* image under header and subtitle end */

  /* Main section, right side of page */

  /* About me */


