header {
    /* padding: 1px; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #184b64;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    padding-left: 50px;
    color: #184b64;;
}

header nav {
    padding-top: 25px;
    margin-right: 80px;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

a {
    color: #65c0c0;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 10px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header-name {
    background-color: #65c0c0;
    height: 55px;
    padding-right: 10px;
}
/* Header End */