body {
    font-family: Arial, Helvetica, sans-serif;
}


/* Header and Nav */
.top {
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.yehudah {
    color: white;
}


.header-links {
    display: flex;
    align-items: center;
    gap: 20px;
    display: flex;
    font-weight: bold;
    font-size: larger;
}

.link-style {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.link-style:hover {
    color: black;
}
/* Header and Nav End */

/* Image under header and subtitle */
.wire-image {
    width: 100%;
  }
  
  .top-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  figure {
    margin: 0;
  }

  .wire-image {
    position: relative;
  }
  
  .top-image {
    display: block;
  }
  
  figcaption {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: darkgray;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: bold;
  }

  .caption {
    color: black;
  }
/* Image under header and subtitle End */


/* Main section, right side of page */

  /* About me */
.about-me-section {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-top: 10px;
}

.about-me {
    text-align: end;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;
}

h2 {
    border-right: solid black 3px;
    height: 55px;
    padding: 5px;
}

p {
    text-align: justify;
    padding: 20px;
    font-size: 20px;
    width: 80%;
}
 /* About me end*/

 /* My work */

 .my-wk {
    border-right: solid black 3px;
    height: 750px;
    padding: 5px;
}

.work-grid {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    padding: 20px;
}

.top-box {
    border-style: solid;
    border-color: darkgray;
    width: 1014px;
    height: 100px;
    margin-bottom: 15px;margin-top: 5px;
    padding: 100px;
}

.top-box:hover, .box1:hover, .box2:hover, .box3:hover, .box4:hover {
    opacity: 0.7;
}

.top-box, .box1, .box2, .box3, .box4 {
        border-style: solid;
        border-color: darkgray;
        background-color: rgb(235, 241, 243);
}

.box1, .box2, .box3, .box4 {
    width: 600px;
    height: 200px;
}

.box2, .box1 {
    margin-bottom: 0px;
    margin-bottom: 10px;
}

.box3, .box1 {
    margin-right: 10px;
}

.top-box-pic {
    width: 1014px;
    height: 100px;
}

.box-fig1 {
    position: absolute;
    bottom: 220px;
    right: 466px;
    background-color: darkgray;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: bold;
    font-size: 50px;
  }

  .box-fig2 {
    position: absolute;
    bottom: -2px;
    right: 463px;
    background-color: darkgray;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
  }

  .box-fig3 {
    position: absolute;
    bottom: -215px;
    right: 463px;
    background-color: darkgray;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
  }

  .box-fig4 {
    position: absolute;
    bottom: -215px;
    right: 1080px;
    background-color: darkgray;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
  }

  .box-fig5 {
    position: absolute;
    bottom: -2px;
    right: 1080px;
    background-color: darkgray;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
  }

  /*my work images*/
  .box1{
    overflow: hidden;
  }

  .box1 img{
    width: 100%;
    height: auto;
  }

  .top-box{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 1215px;
    height: 300px;
  }

  .top-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* My work end */

/* Contact me/footer */

.contact-area {
    font-weight: bold;
    display: grid;
    grid-template-columns: 100px 229px 1fr 1fr 1fr;
    padding: 35px;
    column-gap: 150px;
}

.contact-me {
    text-decoration: none;
    color: black;
}
 .github:hover, .insta:hover, .fb:hover {
    color: lightblue;
}
